.app {
    display: flex;
}

.app__sidebar {
    align-items: center;
    background-color: var(--c-dark);
    box-shadow:  0px 0px 20px var(--c-shadows);
    color: var(--c-text);
    display: flex;
    flex-direction: column;
    padding: 30px;
}


.app__logo-img {
    filter: invert();
    margin-bottom: var(--s-xsmall);
    width: 50px;
}

.app__logo--image {
    background-image: url(/static/img/cmdo_logo.png);
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 50px;
}

.app__logo {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: -1px;
}

.app__controls {
    border: 1px dotted var(--c-dark);
    border-radius: var(--s-small);
    padding: var(--s-small);
}

.app__field {
    display: flex;
    flex-flow: column;
}

.app__field--inline {
    flex-flow: row;
}

.app__field--inline .app__field-header {
    margin-right: var(--s-small);
}

.app__field:not(:last-child){
    margin-bottom: var(--s);
}

.app__field-header {
    margin-bottom: var(--s-xsmall);
    text-transform: lowercase;
    font-size: small;
    font-weight: bold;
}

.app__content {
    box-sizing: border-box;
    flex-grow: 1;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    padding: var(--s-large);
}

.app__status {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.app__status--error {
    color: var(--c-red);
}

.app__status-count {
    font-size: small;
    margin-bottom: var(--s-xsmall);
    text-transform: uppercase;
}

.app__status-value {
    font-size: medium;
    font-weight: bold;
    margin-right: var(--s-xsmall);
}

@media only screen and (max-width: 800px) {
    .app {
        flex-flow: row wrap;
    }

    .app__sidebar {
        flex-flow: row wrap;
    }
}