.command-view {
    display: grid;
    grid-gap: var(--s);
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    justify-items: center;
}

.command-view__container ul {
    max-height: 300px;
    overflow-y: scroll;
}

@media only screen and (min-width: 800px) {
  .command-view__container ul {
    max-height: calc(100vh - var(--s) * 5);
  }
}