.terminal__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.terminal__header input {
    color: var(--c-text);
    height: fit-content;
    flex-grow: 1;
    margin-right: var(--s);
    max-width: 125px;
    width: 0;
}

.terminal__tab {
    background-color: var(--c-xdark);
    border-top-left-radius: var(--s-small);
    border-top-right-radius: var(--s-small);
    color: var(--c-white);
    display: inline-block;
    font-weight: bold;
    margin-top: var(--s-xsmall);
    padding: var(--s-small) var(--s) var(--s-small) var(--s-small);
}

.terminal__container {
    background-color: var(--c-white);
    border-radius: var(--s-xsmall);
    box-shadow:  0px 0px 10px var(--c-shadows);
    overflow: hidden;
    height: fit-content;
    width: 100%;
}

.terminal__empty-state {
    background-color: var(--c-dark);
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: var(--s-small);
}