html {
    background-color: var(--c-light);
    color: var(--c-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}

ul {
    background-color: var(--c-dark);
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    text-wrap: pretty;
    padding: var(--s-small);
    overflow-wrap: anywhere;
}

li:nth-of-type(even) {
    background: #252525;
}

li.error {
    color: var(--c-red);
}

input, select {
    background-color: transparent;
    border: solid 1px var(--c-light);
    color: var(--c-white);
    border-radius: 3px;
    padding: var(--s-xsmall);
}

option {
    background-color: var(--c-dark);
}

input::placeholder {
    color: var(--c-dark);
    text-transform: lowercase;
}

hr {
    border: none;
    border-top: 1px solid var(--c-light);
    margin: var(--s);
    width: 80%;
}